html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    text-align: center;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #8E8E8E;
    /* background-color: #E5E5E5; */
    background-color: white;
    overflow-x: hidden;
    height: 100%;
}

a {
    text-decoration: none;
    color: #C7C2DA;
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 110%;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    width: 100%;
}

.column {
    display: inline-block;
    float: left;
}

.nav-container {
    display: block;
    margin-top: 5%;
    position: relative;
}

.logo {
    width: 50%;
    display: inline-block;
}

.items {
    width: 50%;
    display: inline-block;
    /* float: right; */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.items * {
    /* width: calc(100%/6.3); */
    /* display: inline-block; */
    text-align: left;
}

.header {
    align-items: center;
}

.news {
    text-align: right;
}

.pink-hero {
    color: #E2C4CC;
}

#headline {
    font-size: 2em;
    font-weight: bold;
}

.image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.header-row {
    margin: auto;
    align-items: center;
}

.hero-content {
    width: 50%;
    /* margin: 5% 0; */
    padding: 2em;
}

.soc-media-container {
    display: block;
    align-items: center;
    /* width: calc( (100%/12) * 10); */
    margin: 5% 0;
}

.soc-media {
    width: 70%;
    margin: auto;
    display: flex;
}

li {
    /* margin: 0 auto; */
    display: inline-block;
    vertical-align: text-top;
}

.soc-media-container li {
    /* width: calc(100%/7); */
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.soc-media-icon {
    width: 5%;
}

.soc-media-icon:hover {
    transform: scale(1.2);
}

.live-section-container {
    align-items: center;
    margin: 5% 0;
}

.spotify {
    /* display: inline; */
    width: 100%;
}

.despacia-link-container {
    width: 100%;
}

.about-container {
    display: block;
    margin: 5% 0;
}

.merch-content {
    width: 100%;
}

.contact-container {
    margin: 5% 0;
}

.row {
    margin: 0%;
}

.wrapper {
    width: calc( (100%/12) * 11);
    align-items: center;
    margin: auto;
    flex-wrap: nowrap;
    /* display: flex; */
}

.bottom-border {
    border-bottom: 6px solid #C7C2DA;
    padding: 5% 0;
    /* border-color: ; */
}

.hover-black:hover {
    color: black;
}

.header-container {
    align-items: center;
}

#perlbackground {
    position: absolute;
    width: 504px;
    height: 609px;
    left: 75%;
    /* left: 830px; */
    /* right: -730px; */
    top: 753px;
    /* background: url('PERL LOGO LOWQ.png'); */
    transform: rotate(-13.68deg);
    z-index: -1;
}

table {
    margin: 0 auto;
    text-align: center;
}

table.merch-table {
    margin: auto;
}

figure {
    width: 100%;
}

figure img {
    /* max-width: 405px; */
    width: 100%;
}

#bootstrap-override figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.contact {
    display: inline;
}

.contact h1 {
    margin-bottom: 15%;
}

.newsletter-container {
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}

#mailing-list-image {
    /* position: absolute; */
    background-image: url(img/angofooterfinal1.gif);
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 43vh;
    background-position: center;
    object-fit: fill;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.newsletter {
    /* flex: 1; */
    margin: auto;
    color: #FFFFFF;
    align-items: center;
}

.mailing-list-container {
    margin: auto;
}

.web-experts-footer {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1%;
}

.required {
    text-align: center;
    border: none;
    border-width: 0px;
    border-color: white;
}

.clear {
    margin-top: 2%;
}