body {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #c7c2da;
    background-color: #E5E5E5;
    /* purple */
    overflow-x: hidden;
}

.column {
    display: inline-block;
    float: left;
}

.nav-container {
    display: block;
    margin-top: 5%;
}

.logo {
    width: 50%;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.items {
    width: 50%;
    display: inline-block;
    /* float: right; */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.items * {
    /* width: calc(100%/6.3); */
    /* display: inline-block; */
    text-align: left;
}

a {
    text-decoration: none;
    color: rgb(85, 26, 139);
}

.header {
    align-items: center;
}

.image-container {
    width: 50%;
}

.hero-content {
    width: 50%;
    margin: 5% 0;
}

.soc-media-container {
    display: block;
    align-items: center;
    /* width: calc( (100%/12) * 10); */
    margin: 5% 0;
}

li {
    /* margin: 0 auto; */
    display: inline-block;
    vertical-align: text-top;
}

.soc-media-container li {
    /* width: calc(100%/7); */
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.live-section-container {
    align-items: center;
    margin: 5% 0;
}

.spotify {
    display: inline;
}

.despacia-link-container {
    width: 100%;
}

.about-container {
    display: block;
    margin: 5% 0;
}

.contact-container {
    margin: 5% 0;
}

.row {
    margin: 0%;
}

.wrapper {
    width: calc( (100%/12) * 10);
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    display: flex;
}

.header-container {
    align-items: center;
}

#perlbackground {
    position: absolute;
    width: 504px;
    height: 609px;
    left: 68%;
    /* left: 830px; */
    /* right: -730px; */
    top: -13px;
    background: url('PERL LOGO LOWQ.png');
    transform: rotate(-13.68deg);
    z-index: -1;
}

table {
    margin: 0 auto;
    text-align: center;
}

.contact {
    display: inline;
}

.newsletter-container {
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}

#mailing-list-image {
    /* position: absolute; */
    background-image: url(img/angofooterfinal1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-position: center;
}

.mailing-list-container {
    margin: auto;
}

.web-experts-footer {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 1%;
}