html {
    scroll-behavior: smooth;
    /* height: 100%; */
    width: 100vw;
}

body {
    text-align: center;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #C7C2DA;
    /* background-color: #E5E5E5; */
    background-color: #FFFFFF;
    position: absolute;
    overflow-x: hidden;
    /* height: 100%; */
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    display: block;
}

a {
    text-decoration: none;
    color: #C7C2DA;
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 110%;
}

h1 {
    text-decoration: underline;
    margin-bottom: 5%;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    width: 100%;
}

.column {
    display: inline-block;
    float: left;
}

.nav-container {
    display: block;
    margin-top: 5%;
    position: relative;
}

.logo {
    width: 50%;
    min-width: 260px;
    display: inline-block;
}

.items {
    width: 50%;
    display: inline-block;
    /* float: right; */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}

.items * {
    /* width: calc(100%/6.3); */
    /* display: inline-block; */
    text-align: left;
}

.header {
    align-items: center;
}

#header-image {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
}

#header-image div {
    padding: 5px;
}

.news {
    text-align: right;
}

.pink-hero {
    color: #E2C4CC;
}

#headline {
    font-size: 2em;
    font-weight: bold;
}

.image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.header-row {
    margin: auto;
    align-items: center;
}

.hero-content {
    width: 50%;
    /* margin: 5% 0; */
    padding: 2em;
}

.buttons {
    max-width: 68%;
    margin-left: auto;
}

.soc-media-container {
    display: block;
    align-items: center;
    /* width: calc( (100%/12) * 10); */
    margin: 5% 0;
}

.soc-media {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

li {
    /* margin: 0 auto; */
    display: inline-block;
    vertical-align: text-top;
}

.soc-media-container li {
    display: flex;
    vertical-align: middle;
    text-align: center;
    min-width: 40px;
}

.soc-media-icon {
    width: 5%;
}

.soc-media-icon:hover {
    transform: scale(1.2);
}

.border {
    display: block;
    width: 83%;
    height: 6px;
    margin: auto;
    background-color: #C7C2DA;
}

.live-section-container {
    align-items: center;
    margin: 5% 0;
}

.spotify {
    /* display: inline; */
    width: 45%;
    margin-right: 1.1rem;
}

.youtube-container {
    /* max-width: 50%; */
}

.despacia-link-container {
    width: 100%;
}

.about-container {
    display: block;
    margin-top: 5%;
}

.merch-content {
    width: 100%;
}

.contact-container {
    margin: 5% 0;
}

.row {
    margin: 0%;
}

.wrapper {
    width: calc( (100%/12) * 11);
    align-items: center;
    margin: auto;
    flex-wrap: nowrap;
    /* display: flex; */
}

.bottom-border {
    position: relative;
}

.bottom-border:before {
    content: "";
    position: absolute;
    left: 8%;
    top: 100%;
    height: 1px;
    border-bottom: 6px solid #C7C2DA;
    margin: 5% auto;
    padding: auto;
    width: 83%;
    /* border-color: ; */
}

.hover-black:hover {
    color: black;
}

.header-container {
    align-items: center;
}

#perlbackground {
    position: absolute;
    width: 504px;
    height: 609px;
    left: 72%;
    /* left: 830px; */
    /* right: -730px; */
    top: 701px;
    /* background: url('PERL LOGO LOWQ.png'); */
    transform: rotate(-13.68deg);
    z-index: -1;
}

.merch-container {
    margin: 5%;
}

table {
    margin: 0 auto;
    text-align: center;
}

table.merch-table {
    margin: auto;
}

figure {
    width: 100%;
}

figure img {
    /* max-width: 405px; */
    width: 100%;
    margin-bottom: 4%;
}


/* #bootstrap-override figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
} */

.contact {
    display: inline;
}

.contact h1 {
    margin-bottom: 15%;
}

.newsletter-container {
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}

.list-unstyled {
    max-width: 50%;
    margin: 5% auto;
}

#mailing-list-image {
    /* position: absolute; */
    background-image: url(img/angofooterfinal1.gif);
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 43vh;
    background-position: center;
    object-fit: fill;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.newsletter {
    /* flex: 1; */
    margin: auto;
    color: #FFFFFF;
    align-items: center;
}

.mailing-list-container {
    margin: auto;
}

.web-experts-footer {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1%;
}

input {
    text-align: center;
    color: black;
    border: none;
    border-width: 0px;
    border-color: white;
    background-color: #E5E5E5;
    padding: 1% 5%;
    font-size: 0.8rem;
}

.clear {
    margin-top: 2%;
}

@media {
    body {
        margin: 0;
        display: block;
        box-sizing: border-box;
        /* color: black; */
    }
    #perlbackground {
        display: none;
    }
}

@media screen and (max-width: 492px) {
    #nav-con {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
    }
}

@media screen and (max-width: 640px) {
    #header-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        text-align: center;
    }
    .hero-content {
        display: block;
        width: 100%;
    }
    .image-container {
        width: 100%;
        display: block;
    }
    .news {
        text-align: center;
    }
    .buttons {
        margin: auto;
    }
    input {
        padding: 0%;
    }
    .web-experts-footer {
        font-size: 1vw;
    }
}

@media screen and (max-width: 1055px) {
    .items {
        flex-wrap: wrap;
    }
    p {
        font-size: 3.8vw;
        /* text-align: left;
        line-height: 2.9vh; */
    }
}

@media screen and (max-width: 890px) {
    .d-flex {
        flex-wrap: wrap;
    }
}